#main_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font: bold 16px "Arial Rounded MT Bold", "Noto Sans TC Medium", sans-serif;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px;
}

select {
  margin: 0.25rem;
  padding: 0.25rem;
}

#TyList {
  min-width: 180px;
}

#track_fcst_control {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

#track_fcst_control div {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#track_fcst_control select {
  min-width: 108px;
}

#slide_production_btn {
  /* margin-bottom: 0.5rem; */
  justify-content: flex-end !important;
}

#slide_production_btn input {
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
}

#TrackFcst #track {
  /* padding: 2.0rem 4.5rem; */
}

#track-zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #f40303;
  /*  transform: translate(0px, 0px) scale(1.2); */
}

.svgObj {
  width: 720px;
  height: 405px;
  /* border: 1px solid #f40303; */
  position: relative;
}

.svgObj>svg {
  position: absolute;
}

#slide[ppt_theme_type="Full_Map_1"] .warning-text-History.active {
  background: #c9c9c9b3;
}

#slide[ppt_theme_type="Full_Map_1"] .warning-text-Estimate.active {
  background: #FFC9C9B3;
}

#slide[ppt_theme_type="Right_Map_1"] .warning-text-History.active span{
  background: #c9c9c9b3;
}

#slide[ppt_theme_type="Right_Map_1"] .warning-text-Estimate.active span{
  background: #FFC9C9B3;
}

.dragMode #basemap {
  cursor: grab;
}

.dragMode #slideObject {
  pointer-events: none;
}

.dragMode #slideObject #keypoint {
  pointer-events: auto;
}

.dragMode #warning_marks {
  pointer-events: none;
}

.dragMode #warning_circle g,
.dragMode #keypoint-label,
.dragMode #keypoint-content .warning-text{
  cursor: pointer;
}

.editMode svg {
  cursor: unset;
}

.editMode #warning_circle ellipse {
  display: inline;
}

.editMode #slide[ppt_theme_type="Full_Map_1"] #keypoint {
  cursor: move;
}

.editMode #warning_marks rect {
  cursor: move;
}

.editMode #slide-description-img {
  pointer-events: none;
}

.editMode #slide[ppt_theme_type="Full_Map_1"] #slide-title,
.editMode #slide[ppt_theme_type="Full_Map_1"] #slide-description,
.editMode #slide[ppt_theme_type="Full_Map_1"] #slide-production>div {
  cursor: pointer;
}

.editMode #slide[ppt_theme_type="Right_Map_1"] #slide-title p,
.editMode #slide[ppt_theme_type="Right_Map_1"] #slide-description-table td[name],
.editMode #slide[ppt_theme_type="Right_Map_1"] #slide-production>div,
.editMode #slide[ppt_theme_type="Right_Map_1"] #keypoint-content .warning-text {
  cursor: pointer;
}

.disableSelectText {
  /* 禁止選取文字 */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}

/* -- 右側控制欄 -- */
/* 統一控制面板樣式 */
#editor-panel {
  display: flex;
  /* flex-direction: column; */
  gap: 8px;
  /* background: #4D4D4D; */
  border-radius: 24px;
  padding: 2px 24px !important;
  position: absolute;
  right: 0;
  bottom: -32px;
}

/* 全螢幕狀態下位置與樣式 */
.fullscreen #editor-panel {
  z-index: 99;
  bottom: -50px;
  transform: translate(calc(25% - 1px), calc(25% - 1px)) scale(0.5);
  background: #4D4D4D;
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 0.5px;
}
.fullscreen #editor-panel.show {
  bottom: 0;
}
.fullscreen .fullscreenHide {
  display:none;
}

/* 統一按鈕基本樣式 */
#editor-panel button {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* 全螢幕按鈕 */
/* #btn_fullscreen { */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707'/></svg>"); */
/* } */

/* 編輯模式按鈕圖示 */
/* #btn_edit[type="svg-drag-zoom"] { */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0'/><path d='M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z'/><path d='M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5'/></svg>"); */
/* } */

/* 拖曳縮放模式按鈕圖示 */
/* #btn_edit[type="shape-edit"] { */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325'/></svg>"); */
/* } */

#btn_edit[type="svg-drag-zoom"] #icon-slide-edit{
  display: none;
}

#btn_edit[type="shape-edit"] #icon-map-domain {
  display: none;
}

/* 標記放大按鈕圖示 */
/* #btn_markLarge { */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M2 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V4a1 1 0 0 0-1-1z'/><path d='M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5'/></svg>"); */
/* } */

/* 標記縮小按鈕圖示 */
/* #btn_markSmall { */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M2 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V4a1 1 0 0 0-1-1z'/><path d='M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-5.5 0a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5'/></svg>"); */
/* } */


/* 動畫區塊橫向排列 */
.panel-div {
  display: flex;
  align-items: center;
  gap: 4px;
  padding:4px;
}

/* Switch 樣式 */
.switch {
  position: relative;
  width: 32px;
  height: 16px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  transition: all 0.2s;
}

.switch input:checked + .slider {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-position: right center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='white'/></svg>");
}

/* 播放/暫停 icon */
/* #btn_animsPlayPause[type="animsPlay"] { */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5'/></svg>"); */
/* } */

/* #btn_animsPlayPause[type="animsPause"] { */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393'/></svg>"); */
/* } */

#btn_animsPlayPause {
  margin: 0 20px 0 0;
}

#btn_animsPlayPause[type="animsPlay"] #icon-pause{
  display: none;
}

#btn_animsPlayPause[type="animsPause"] #icon-play {
  display: none;
}

#btn_animsPlayPause:disabled {
  opacity: 0.25;
  pointer-events: none;
}

/* 全螢幕提示畫面 */
#fullscreenHint {
  position: fixed;
  top: 16.5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 4px 10px;
  font-size: 8px;
  display: none;
  z-index: 9999;
}

/* 提示框 */
#tooltip {
 position:absolute;
 display:none;
 background:#222;
 color:#fff;
 padding:5px;
 border-radius:4px;
 font-size:14px;
}

/* 範圍資訊 */
#DomainInfo {
  width: 720px;
  height: 100px;
  padding-top: 0.5rem;
}

#DomainInfo>div {
  padding: 0 8px;
}

/* -- 下方編輯欄位 -- */
#track-grid {
  text-align: left;
}

#data-panel{
  display: flex;
}

/* #track-grid>td { */
  /* display: flex; */
  /* flex-direction: row; */
/* } */

#point-data {
  width: 60%;
}

#point-data .past {
  color: #bfbfbf;
}

#point-data .curr {
  color: #f44336;
}

#point-data .fcst {
  color: #094ff2;
}

/* 警報時間預估 */
#warning_estimate {
  width: 40%;
  padding-left: 0.5rem;
}

.warning-group {
  display: flex;
  align-items: center;
  height: 2rem;
}

.warning-time {
  height: 20px;
  width: 108px;
}

.warning-group[source="No_Source"] .warning-time {
  background-color: #f00;
  color: #FFF;
}

.warning-adjust-btn {
  display: flex;
  flex-direction: column;
  transform: scale(0.5);
}

.warning-adjust-btn button {
  border: 1px solid #d2d2d2;
  /* border: 1px solid #c5dbec; */
  /* background-color: #dfeffc; */
  /* color: #094ff2; */
}

.warning-adjust-btn button:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.warning-adjust-btn button:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.warning-group[name="warning_in_sea"] .warning-text,
.warning-group[name="warning_contact_sea"] .warning-text,
.warning-group[name="warning_out_sea"] .warning-text {
  color: #094ff2;
}

.warning-group[name="warning_in_land"] .warning-text,
.warning-group[name="warning_contact_land"] .warning-text,
.warning-group[name="warning_out_land"] .warning-text {
  color: #f44336;
}

/* 進度提示框 */
#progressOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#progressBox {
  background: white;
  padding: 20px;
  width: 300px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}
#progressBarContainer {
  width: 100%;
  background: #eee;
  height: 20px;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}
#progressBar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  transition: width 0.3s;
}
#progressCancelBtn, #progressDoneBtn {
  margin: 10px 5px 0 5px;
  padding: 5px 10px;
}




